.header {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.container {
    display: flex;
    padding: 0 16px;
    height: 100%;
}

.header-left {
    align-self: center;
}

.header-right {
    display: flex;
    right: 16px;
    position: absolute;
    height: 48px;
}

.information-site {
    display: flex;
    line-height: 48px;
}

.avatar-logo {
    align-self: center;
    height: 24px;
    width: 24px;
    background: url('../../assets/icon/avatar-default.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 8px;
}

.more-icon {
    align-self: center;
    height: 24px;
    width: 24px;
    background: url('../../assets/icon/option.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.username {
    padding: 0 8px;
}

#branch>.drop-text-site {
    border: none;
}