.header{
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}
    .header>.container{
        display: flex;
        padding: 0 16px;
        line-height: 48px;
    }
        .container>.left{
        }

        .container>.right{
            display: flex;
            right: 16px;
            position: absolute;
        }

            .right .information-site{
                display: flex;
                line-height: 48px;
            }

            .avatar-logo{
                padding: 0 8px;
                align-self: center;
                height: 20px;
                width: 20px;
                background: url('/content/icon/avatar-default.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            .more-icon{
                margin-left: 16px;
                align-self: center;
                height: 20px;
                width: 20px;
                background: url('/content/icon/option.png');
                background-size: contain;
                background-repeat: no-repeat;
            }



        

#branch{
    border: none;
}