@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/content/font/GoogleSans-Regular.otf');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('/content/font/GoogleSans-Bold.otf');
}
@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('/content/font/GoogleSans-Medium.otf');
}
@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('/content/font/GoogleSans-Thin.otf');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('/content/font/GoogleSans-Italic.otf');
}


body{
    font-size: 13px;
    font-family: 'GoogleSans-Regular';
    padding: 0;
    margin: 0;
}