.navbar{
    height: 100vh;
    width: 226px;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    float: left;
}

    .navbar>.logo-site{
        display: flex;
        width: 100%;
        height: 48px;
    }
        .navbar>.logo-site>.logo-box{
            display: flex;
            width: 100%;
            padding: 12px 16px;
        }

            .navbar>.logo-site>.logo-box>.toggle-icon{
                width: 24px;
                height: 24px;
                padding-right: 10px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('/content/img/toggle.png');
            }
            .navbar>.logo-site>.logo-box>.cukcuk-logo{
                width: 100%;
                height: 24px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('/content/img/cukcuk-logo.png');
            }

    .navbar>.navbar-content{
        width: 100%;
    }
        .navbar>.navbar-content>.nav-item{
            height: 44px;
            display: flex;
            padding: 0 16px;
            line-height: 44px;
            
        }
        .navbar>.navbar-content>.nav-item:focus{
            background-color: #019160;
            color: #ffffff;
            
        }
        .navbar>.navbar-content>.nav-item:hover{
            background-color: #e5e5e5e5;
            color: #000000;
            cursor: pointer;
        }

            .nav-item>.nav-item-icon{
                height: 20px;
                width: 20px;
                align-self: center; 
                margin-right: 8px;
                background-size: contain;
            }
            


#customer, #buy, #report, #employee, #setting, #dashboard{
    background-image: url('/content/icon/dashboard.png');
}

