.misa-btn{
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: 'GoogleSans-Regular';
    padding: 0 24px;
    text-align: center;
    min-width: 100px;
}

.misa-btn-default{
    background-color: #019160;
}

.misa-btn-default:hover{
    background-color: #2FBE8E;
}

.misa-btn-default.active{
    background-color: #01B075;
}


.misa-btn-icon{
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    font-family: 'GoogleSans-Regular';
    padding: 0 16px;
    text-align: left;
    color: #ffffff;
    border: none;
    min-width: 100px;
}

.misa-btn-icon-default{
    background-color: #019160;
}

.misa-btn-icon-default>i{
    padding-right: 8px;
}

.misa-btn-icon-default:hover{
    background-color: #2FBE8E;
}

.misa-btn-icon-default.active{
    background-color: #01B075;
}

.misa-btn-icon-default.active>i{
    padding-right: 8px;
}



.misa-white-btn{
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    font-family: 'GoogleSans-Regular';
    padding: 0 24px;
    text-align: center;
    color: #000000;
    border: 1px solid #bbbbbb;
    min-width: 100px;
}
.misa-white-btn:hover{
    background-color: #E9EBEE;
    border: none;
}
.misa-white-btn.active{
    background-color: #01B075;
    color: #ffffff;
    border: none;
}